#details {display: none;}
.bx-shdw {box-shadow: 2px 2px 4px 2px grey;}
#edu p {font-size: 15px;}
#prnt {display: none;}
.btn-right {right: 10px;}

@media screen and (max-width: 470px) {
    h3 {font-size: 20px;}
    h4 {font-size: 18px;}
    p {font-size: 15px;}
    h5 > span {font-size: 17px;}
}

@media print {
    #prnt {display:block;}
    p {font-size: 17px;}
    h5 {font-size: 21px;}
    h4 {font-size: 26px;}
}
